body{
    color: #414141;
    background-color: #EEEEEE;
    font-size: 18px;
}

h1{
    font-size: 2em;
    font-family: "Helvetica", "Arial", sans-serif;
}

h2{
    font-size: 1.6em;
    font-family: "Helvetica", "Arial", sans-serif;
}

h3{
    font-family:  "Helvetica", "Arial", sans-serif;
}

ul{
    list-style-type: circle;
}

ol{
    list-style-type: lower-roman;
}

a{
    text-decoration: none;
}

p{
    text-align: left;
}

em {
    font-weight: bold;
    font-style: normal;
}
  
strong {
    font-weight: normal;
    font-style: italic;
}  